extends ../layout/public

block content
    div(class="mt-8 mx-auto max-w-md flex items-center h-screen")
        div(class="bg-white m-auto w-8/12 px-4 animate__animated animate__fadeIn animate__faster")
            p(class='bg-blue-400').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text-white.uppercase Not Found