header(class="bg-sky-700 p-4")
    div(class="container mx-auto flex justify-between items-center")
        a(href="/")
            h1(class="text-2xl text-white font-extrabold text-center") Videogames 
                span(class="font-normal") App
        nav(class="my-3 text-md md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            a(href="/auth/register") Create account
            a(href="/auth/login") Sing In
        nav(class="my-3 text-md md:hidden md:items-center md:gap-3 font-bold text-white") 
            a(href="/auth/login") Sing In
include ./search_bar